
@{
    ViewBag.Title = "WishUser";
}

<h2>WishUser</h2>

<h1>I am in a WishUser View.</h1>

<li>@Html.ActionLink("Goto URL", "GotoURL", "Home")</li>

<li>@Html.ActionLink("Goto URL Permanently", "GotoURLPermanently", "Home")</li>

