
@{
    ViewBag.Title = "CheckLoginCredentials";
}

<h2>CheckLoginCredentials</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br /><input type="text" name="UserName" value="" />
    <br /><input type="text" name="Password" value="" />
    <br /><input type="submit" name="btnSubmit" value="Submit" />
}
