
@{
    ViewBag.Title = "ScriptInjectionDemo";
}

<h2>ScriptInjectionDemo</h2>

@using (Html.BeginForm())
{
    <br /><input type="text" name="txtDescription" value="" />
    <br /><input type="submit" name="btnSubmit" value="Submit" />
}
