
@{
    ViewBag.Title = "WorkingWithForms";
}

<h2>WorkingWithForms</h2>

@{ 
    var Result = "";
    if (IsPost)
    {
        try
        {
            var num1 = Request["Num1"];
            var num2 = Request["Num2"];
            var Quotiant = num1.AsInt() / num2.AsInt();
            Result = "Quotiant = " + Quotiant;
        }
        catch (Exception ex)
        {
            Result = ex.Message;
        }
    }
}
<html>
<body>
    <form action="" method="post">
        <p>
            <label for="Num1">First Number:</label><br />
            <input type="text" name="Num1" />
        </p>
        <p>
            <label for="Num2">Second Number:</label><br />
            <input type="text" name="Num2" />
        </p>
        <p><input type="submit" value="Divide" /></p>
    </form>
    <p>@Result</p>
</body>
</html>

